
body {
  width: 100%;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #3c4245; /*# 3c4245, 535a5c, 719192, dfcdc3*/
  margin: auto;
}

div {
  color: #cccccc;
  display: inline-block;
  margin: 10px;
}

.top-bar {
  background-color: #3c4245;
  margin: 0 20px 0 20px;
  padding: 10px;
  display: block;

}

.card {
  background-color: #535a5c;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

h1 {
  color: #ffe4bf;

}

h2{
  color: #ffe4bf;

}

h3{
  color: #fad096;

}


.button {
  background-color: #719192; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px 10px 0;
}


a {


  text-decoration: none;
  color: #fad096;
}

a.share-link {
  margin: 20px;

  float: right;
  font-size: 32px;
}

#refresh-button {
  float: right;
}

a.a-trend {
  display: block;
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid #3c4245;
  font-size: 16px;
  color: #fad096;
}

a.a-trend:after {
  content: ' \21FE';
}

a.a-trend:visited {
  color: #cf7c7c;
}
